.navbar {
  position: fixed;
  width: 100vw;
  padding: 30px 40px;
  z-index: 10000;
}

.navbar-item > a {
  color: $white;
  text-decoration: none;
  transition: text-decoration 0.3s;

  &:hover {
    text-decoration: underline;
  }

  &.active {
    text-decoration: underline;
  }
}
